
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">tttle</th>
        <th scope="col">source</th>
        <th scope="col">import_datetime</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of resultados">
        <th scope="row">1</th>
        <td>{{result.title}}</td>
        <td>{{result.type}}</td>
        <td>{{result.import_datetime}}</td>
      </tr>
      
    </tbody>
  </table> -->

  <div class="row">
      <div *ngFor="let gif of resultados" class="col-lg-3 col-md-4 col-sm-6
      animate__animated animate__fadeInBottomRight 
      ">
          <img [src]="gif.images.downsized_medium.url" [alt]="gif.title" class="card-img-top">
          <div class="card-body">
              <p class="card-text">
                  {{gif.title}} -
                  {{gif.images.downsized_medium.width}} x 
                  {{gif.images.downsized_medium.height}}
              </p>
          </div>
      </div>
  </div>